<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>

    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <h2>¿Está Seguro que desea desvincular los siguientes datos?:</h2>
        <form action="#" th:action="@{/coordinador/save}" th:object="${coordinador}" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" th:field="*{nombre}" id="nombre" readonly>
            </div>
            <input type="hidden" th:field="*{id}" name="id" id="id">
            <input type="hidden" th:value="false" name="activo" id="activo">
            <div class="form-group">
                <label for="idinstitucion">Institucion</label>
                <input type="number" class="form-control" name="idinstitucion" th:field="*{idinstitucion}" id="idinstitucion" readonly>
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</body>
</html>