<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinadores</title>

    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <br>
        <h2 th:if="${list.isEmpty()}">No hay Coordinadores para mostrar :(</h2>
        <div th:if="${!list.isEmpty()}">
            <h2>Coordinadores</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Institucion</th>
                        <!-- <th>Estado</th> -->
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="coordinador : ${list}" th:if="${coordinador.activo}"> <!-- BORRAR EL IF PARA EL TOTAL -->
                        <td th:text="${coordinador.id}">
                        <td th:text="${coordinador.nombre}">
                        <td th:text="${coordinador.institucion}">
                        <!-- <td th:text="${coordinador.activo}"></td> -->
                        <td><a class="btn btn-info" th:href="@{/coordinador/edit/{id}(id=${coordinador.id})}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{/coordinador/softdelete/{id}(id=${coordinador.id})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/coordinador/edit/0" class="btn btn-success">Agregar</a>
        </div>
    </div>
</body>
</html>