<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergencias</title>

    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <br>
        <h2 th:if="${list.isEmpty()}">No hay Emergencias para mostrar :(</h2>
        <div th:if="${!list.isEmpty()}">
            <h2>Emergencias</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Coord</th>
                        <!-- <th>Estado</th> -->
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emergencia : ${list}" th:if="${emergencia.activo}"> <!-- BORRAR EL IF PARA EL TOTAL -->
                        <td th:text="${emergencia.id}">
                        <td th:text="${emergencia.nombre}">
                        <td th:text="${emergencia.descripcion}">            
                        <td th:text="${emergencia.inicio}">
                        <td th:text="${emergencia.fin}">
                        <td th:text="${emergencia.idcoordinador}"></td>
                        <!-- <td th:text="${emergencia.activo}"></td> -->
                        <td><a class="btn btn-info" th:href="@{/emergencia/edit/{id}(id=${emergencia.id})}">Editar</a></td>
                        <td><a class="btn btn-warning" th:href="@{/tarea/emergencia/{id}(id=${emergencia.id})}">Tareas</a></td>
                        <td><a class="btn btn-warning" th:href="@{/voluntario/emergencia/{id}(id=${emergencia.id})}">Voluntarios</a></td>
                        <td><a class="btn btn-danger" th:href="@{/emergencia/softdelete/{id}(id=${emergencia.id})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/emergencia/edit/0" class="btn btn-success">Agregar</a>
        </div>
    </div>
</body>
</html>