<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voluntarios-Requisitos</title>

    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <br>
        <h2 th:if="${list.isEmpty()}">No hay Emergencias-Voluntarios para mostrar :(</h2>
        <div th:if="${!list.isEmpty()}">
            <h2>Emergencias-Voluntarios</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id_Voluntario</th>      
                        <th>Id_Emergencia</th>
                        <th>Ranking</th>
                        <th>Participa</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emervolu : ${list}" th:if="${emervolu.activo}"> <!-- BORRAR EL IF PARA EL TOTAL -->
                        <td th:text="${emervolu.id}">
                        <td th:text="${emervolu.idvoluntario}"> 
                        <td th:text="${emervolu.idemergencia}">
                        <td th:text="${emervolu.ranking}"> 
                        <td th:text="${emervolu.participa}">            
                        <td th:text="${emervolu.activo}"></td>
                        <td><a class="btn btn-info" th:href="@{/emervolu/edit/{id}(id=${emervolu.id})}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{/emervolu/softdelete/{id}(id=${emervolu.id})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/emervolu/edit/0" class="btn btn-success">Agregar</a>
        </div>
    </div>
</body>
</html>