<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <br>
    
    <div class="container">
        <dv class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h1>App voluntariado</h1>
                <h2>Grupo 6</h2>
            </div>
            <div class="col-sm">
            </div>
        </dv>
        <div class="row">
            <div class="col-sm">
                <h3>CRUD - Entidades</h3>
                <br>
                <br>
                <a class="btn btn-info" th:href="@{/institucion/}">Instituciones</a>
                <br>
                <br>
                <a class="btn btn-info" th:href="@{/coordinador/}">Coordinadores</a>
                <br>
                <br>
                <a class="btn btn-info" th:href="@{/emergencia/}">Emergencias</a>
                <br>
                <br>
                <a class="btn btn-info" th:href="@{/voluntario/}">Voluntarios</a>
                <br>
                <br>
                <a class="btn btn-info" th:href="@{/requisito/}">Requisitos / Habilidades</a>
                <br>
                <br>
                <a class="btn btn-info" th:href="@{/tarea/}">Tareas</a>
                <br>
                <br>
            </div>
            <div class="col-sm">
                <h3>Entregables lógica</h3>
                <br>
                <br>
                <a class="btn btn-warning" th:href="@{/emergencia/}">Tareas por Emergencia</a>
                <br>
                <br>
                <a class="btn btn-warning" th:href="@{/emergencia/}">Voluntarios por Emergencia</a>
                <br>
                <br>
                <a class="btn btn-warning" th:href="@{/tarea/}">Tareas activas e inactivas</a>
                <br>
                <br>
                <a class="btn btn-warning disabled" th:href="@{/}">Añadir Emergencias</a>
            </div>
            <div class="col-sm">
                <!-- 
                <h3>Triggers</h3>
                <br>
                <br>
                <a class="btn btn-danger disabled" th:href="@{/}">Trigger 1</a>
                <br>
                <br>
                <a class="btn btn-danger disabled" th:href="@{/}">Trigger 2</a> -->
            </div>
        </div>
        
    </div>
</body>
</html>