<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>

    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">


        <h2 th:if="${list.isEmpty()}"> La Emergencia no presenta tareas :(</h2>
        <div th:if="${!list.isEmpty()}">
            <h2>Tareas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id_Voluntario</th>      
                        <th>Id_Emergencia</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Estado</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarea : ${list}" th:if="${tarea.activo == true and tarea.idemergencia == emer} "> <!-- BORRAR EL IF PARA EL TOTAL -->
                        <td th:text="${tarea.id}">
                        <td th:text="${tarea.idvoluntario}"> 
                        <td th:text="${tarea.idemergencia}">
                        <td th:text="${tarea.nombre}">
                        <td th:text="${tarea.descripcion}">
                        <td th:text="${tarea.inicio}"> 
                        <td th:text="${tarea.fin}"> 
                        <td th:text="${tarea.estado}">            
                        <td th:text="${tarea.activo}">
                    </tr>
                </tbody>
            </table>
        </div>



<!-- 
        <form action="#" th:action="@{/tarea/save}" th:object="${tarea}" method="POST">
            <div class="form-group">
                <label for="idvoluntario">Id_Voluntario</label>
                <input type="number" class="form-control" name="idvoluntario" th:field="*{idvoluntario}" id="idvoluntario">
            </div>
            <div class="form-group">
                <label for="idemergencia">Id_Emergencia</label>
                <input type="number" class="form-control" name="idemergencia" th:field="*{idemergencia}" id="idemergencia">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" th:field="*{nombre}" id="nombre">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}" id="descripcion">
            </div>
            <div class="form-group">
                <label for="inicio">Inicio</label>
                <input type="date" class="form-control" name="inicio" th:field="*{inicio}" id="inicio">
            </div>
            <div class="form-group">
                <label for="fin">Fin</label>
                <input type="date" class="form-control" name="fin" th:field="*{fin}" id="fin">
            </div>
            <div class="form-group">
                <input class="form-check-input" type="radio" name="estado" id="estado" value="true">
                <label class="form-check-label" for="estado">Realizada</label>
            </div>
            <div class="form-group">
                <input class="form-check-input" type="radio" name="estado" id="estado" value="false">
                <label class="form-check-label" for="estado">No Realizada</label>
            </div>


            <input type="hidden" th:field="*{id}" name="id" id="id">
            <input type="hidden" th:field="*{activo}" name="activo" id="activo">
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div> -->
</body>
</html>