<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisitos-Emergencias</title>

    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <br>
        <h2 th:if="${list.isEmpty()}">No hay Requisitos-Emergencias para mostrar :(</h2>
        <div th:if="${!list.isEmpty()}">
            <h2>Requisitos-Emergencias</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id_Requisito</th>
                        <th>Id_Emergencia</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="requisitoeme : ${list}" th:if="${requisitoeme.activo}"> <!-- BORRAR EL IF PARA EL TOTAL -->
                        <td th:text="${requisitoeme.id}">
                        <td th:text="${requisitoeme.idrequisito}">
                        <td th:text="${requisitoeme.idemergencia}">            
                        <td th:text="${requisitoeme.activo}"></td>
                        <td><a class="btn btn-info" th:href="@{/requisitoeme/edit/{id}(id=${requisitoeme.id})}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{/requisitoeme/softdelete/{id}(id=${requisitoeme.id})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/requisitoeme/edit/0" class="btn btn-success">Agregar</a>
        </div>
    </div>
</body>
</html>